@import url("https://use.typekit.net/dwi3ysp.css");
@import './Sass/variables.scss';

.logo {
  position: absolute;
  top: 64px;
  left: 50%;
  transform: translate(-50%);
  z-index: 999;
}

.wrapper, .line__wrapper {
  width: var(--width);
  margin: auto !important;
}

.s1 {
  &::after {
    content: "";
    background: url('./Media/banner.jpg');
    opacity: 0.1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index:-1; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
  }

  & .wrapper > p {
    width: 666px;
  }
}

.s3 > div > .wrapper > .btn {
  margin: 32px 50%;
  transform: translate(-50%, 0);
}


.line__wrapper {
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 0;
  z-index: -1;
}

h1 {
  font-size: 202px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--firstColor);
  text-align: left;
  line-height: 170px;
  font-style: italic;
  margin-bottom: 48px;
  font-family: 'futura-pt-condensed';
}

h1 span {
  -webkit-text-stroke-color: white;
  
}

h2 {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--firstColor);
  font-size: 112px;
  line-height: 95px;
  font-style: italic;
  font-family: 'futura-pt-condensed';
  margin-top: 0;
  margin-bottom: 40px;
}

.leftText {
  text-align: left;
}

#fullpage {
  position: relative;
}

.line {
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: #2C2C2C;
  left: 0;
  top: 0;
  opacity: 0.2;
  z-index: -1;

  &:nth-child(2) {
    left: 25%;
  }

  &:nth-child(3) {
    left: 50%;
  }

  &:nth-child(4) {
    left: 75%;
  }

  &:nth-child(5) {
    left: 100%;
  }
}

.portfolio {
  position: relative;

  & > .screenshot {
    position: absolute;
    left: 48px;
    top: 50%;
    transform: translateY(-50%);
  }

  & > .wrapper__infos {
    position: absolute;
    right: 48px;
    
    top: 50%;
    transform: translateY(-50%);
    backdrop-filter: blur(7px);
      -webkit-backdrop-filter: blur(7px);
    padding: 64px;
    width: 627px;
    text-align: left;

    & > span {
      position: absolute;
      top: 0;
      left: 0;      
      width: 100%;
      height: 100%;
      background: #111111;
      opacity: 0.8;
      z-index: -1;
    }

    & > h2 {
      font-size: 32px;
      -webkit-text-fill-color: white;
      -webkit-text-stroke-width: 0px;
      line-height: 100%;
      text-align: left;
      text-transform: uppercase;
    }

    & > .btn {
      position: absolute;
      right: 64px;
      bottom: -32px;
      width: 308px;
    }
  }
}

.fp-next, .fp-prev {
  position: absolute !important;
  border-width: 0 !important;
  border-color: none !important;
  width: 60px !important;
  height: 60px !important;
  background-color: var(--firstColor);
  top: calc(100% - 64px)!important;

  &:after {
    content: '';
    position: absolute;
    width: 24px;
    height: 12px;
    left: 50%;
    top: 50%;
    background-image: url("./Media/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}
.fp-next {
    right: calc(50% - 74px) !important;
    &:after {
      transform: translate(-50%, -50%) rotate(90deg);
    }
}

.fp-prev {
  left: calc(50% - 74px) !important;
  &:after {
      transform: translate(-50%, -50%) rotate(-90deg);
  }
}

.portfolio {
  padding-bottom: 60px;
}

.screenshot {
  height: 615px;
  width: 615px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.btn {
  font-family: 'futura-pt-condensed';
  font-size: 22px;
  border: none;
  height: 72px;
  width: 25%;
  background-color: var(--firstColor);
  float: left;
  color: white;
  letter-spacing: 1px;
  font-style: italic;
  margin-top: 48px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;


  &:hover {
    box-shadow: 0px 16px 25px -10px rgba(76, 102, 94, 0.53);
  }

  &:focus {
    box-shadow: inset 7px 7px 24px 1px #394B46;
  }
}

.github {
  display:flex;
  width: 150px;
  height: 72px;
  color: transparent;
  background-image: url('./Media/github\ logo\ white.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 32px auto;
}


@media screen and (max-width: 1380px), (max-height: 760px) {
  .logo {
    top: 48px;
    width: 70px;
    height: 70px;
  }

  .s1 {
    & .wrapper > p {
      width: 90%;
    }
  }
  .btn {
    width: 308px;
  }
  .portfolio > .wrapper__infos {
    box-sizing: border-box;
    width: 550px;
    padding: 32px 32px 64px 32px;

    & > .btn {
      right: 16px;
      bottom: -32px;
      width: 308px;
    }
  }

  .screenshot {
    height: 433px;
    width: 433px;
  }


  .fp-next, .fp-prev {
    top: calc(100% - 42px)!important;

  }
}

@media screen and (max-width: 880px) {
  .s1 > div > .wrapper > .btn {
    margin: 32px 50%;
    transform: translate(-50%, 0);
  }
  h1, h2, p {
    text-align: center !important;
  }

  .s3 > div > .wrapper > h2 {
    font-size:  32px;
    margin: 0;
  }




  .btn {
    height: 48px;
    padding: 0 16px;
    font-size: 16px;
  }

  .portfolio {
    width: 300px;
    top: 0;

    & .wrapper__infos {
      position: relative !important;
      width: 250px;
      left: 50%;
      transform: translate(-50%, 0);
      top: -48px;
      text-align: center !important;
      padding: 32px 32px 32px 32px;

      & > h2 {
        text-align: center;
      }

      & > .btn {
        bottom: -24px;
        left: 50%;
        width: 200px;
        transform: translate(-50%);
        font-size: 16px;
      }
    }

  }

  .screenshot {
    position: relative !important;
    top: 0 !important;
    transform: translate(0, 0) !important;
    margin: 0;
    left: 0 !important;
    height: 300px;
    width: 300px;
  }
}